:root {
    /* Colors */
    --red: #c73b0f;

    /* Rose */
    --rose-900: #260f08;
    --rose-500: #87635a;
    --rose-400: #ad8a85;
    --rose-300: #caafa7;
    --rose-100: #f5eeec;
    --rose-50: #fcf8f6;

    /* Green */
    --green: #1ea575;

    /* Black and white */
    --black: #000;
    --white: #fff;

    /* Typography */
    --font-red: "Red Hat Text", serif;

    --padding-mobile: 24px;
}

/* General confing */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: var(--font-red);
    background-color: var(--rose-50);
    padding: var(--padding-mobile);
}

/* 
    bold - 700;
    semiBold - 600;
    regular - 400;
*/

/* Text-present */
.text-present-1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0px;
}

.text-present-2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0px;
}

.text-present-3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0px;
}

.text-present-4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0;
}

.text-present-4-bold {
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0px;
}

/* Buttons */

.button {
    width: 160px;
    height: 44px;
    padding: 12px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    border-radius: 999px;
}

.button i {
    display: flex;
}

/* Container */

.container h1 {
    color: var(--rose-900);
}

.container .product_contant {
    display: grid;
    gap: 24px;
    max-width: 550px;
    margin: 32px auto 0 auto;
}

@media screen and (min-width: 768px) {
    .container .product_contant {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        max-width: 800px;
    }
}

@media screen and (min-width: 1200px) {
    .container .product_contant {
        margin: 32px 0 0 0;
    }
}

.container .product_contant .product_cart .product {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.container .product_contant .product_cart .product .button-add {
    position: absolute;
    bottom: -20px;
    border: 1px solid var(--rose-400);
    background-color: var(--white);
    color: var(--rose-900);
    justify-content: center;
    cursor: pointer;
}

.container .product_contant .product_cart .product .button-active {
    position: absolute;
    bottom: -20px;
    border: 1px solid var(--rose-400);
    background-color: var(--red);
    color: var(--white);
    justify-content: space-between;
    display: none;
}

.active_button {
    display: none;
}

.container .product_contant .product_cart .product .button-active i {
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .product_contant .product_cart .product_description{
    margin-top: 16px;
}

.category {
    color: var(--rose-500);
}

.title_description{
    color: var(--rose-900);
}

.price {
    color: var(--red);
}

/* img product */
.img_cart {
    width: 100%;
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.with {
    background-image: url(../images/image-waffle-mobile.jpg);
}
.bean {
    background-image: url(../images/image-creme-brulee-mobile.jpg);
}
.mix {
    background-image: url(../images/image-macaron-mobile.jpg);
}
.tiramisu {
    background-image: url(../images/image-tiramisu-mobile.jpg);
}
.baklava {
    background-image: url(../images/image-baklava-mobile.jpg);
}
.meringue {
    background-image: url(../images/image-meringue-mobile.jpg);
}
.velvet {
    background-image: url(../images/image-cake-mobile.jpg);
}
.caramel {
    background-image: url(../images/image-brownie-mobile.jpg);
}
.panna {
    background-image: url(../images/image-panna-cotta-mobile.jpg);
}

@media screen and (min-width: 768px) {
    .img_cart {
        width: 213px;
        height: 212px;
    }

    .with {
        background-image: url(../images/image-waffle-tablet.jpg);
    }
    .bean {
        background-image: url(../images/image-creme-brulee-tablet.jpg);
    }
    .mix {
        background-image: url(../images/image-macaron-tablet.jpg);
    }
    .tiramisu {
        background-image: url(../images/image-tiramisu-tablet.jpg);
    }
    .baklava {
        background-image: url(../images/image-baklava-tablet.jpg);
    }
    .meringue {
        background-image: url(../images/image-meringue-tablet.jpg);
    }
    .velvet {
        background-image: url(../images/image-cake-tablet.jpg);
    }
    .caramel {
        background-image: url(../images/image-brownie-tablet.jpg);
    }
    .panna {
        background-image: url(../images/image-panna-cotta-tablet.jpg);
    }
}

@media screen and (min-width: 1200px) {
    .img_cart {
        width: 250px;
        height: 240px;
    }

    .with {
        background-image: url(../images/image-waffle-desktop.jpg);
    }
    .bean {
        background-image: url(../images/image-creme-brulee-desktop.jpg);
    }
    .mix {
        background-image: url(../images/image-macaron-desktop.jpg);
    }
    .tiramisu {
        background-image: url(../images/image-tiramisu-desktop.jpg);
    }
    .baklava {
        background-image: url(../images/image-baklava-desktop.jpg);
    }
    .meringue {
        background-image: url(../images/image-meringue-desktop.jpg);
    }
    .velvet {
        background-image: url(../images/image-cake-desktop.jpg);
    }
    .caramel {
        background-image: url(../images/image-brownie-desktop.jpg);
    }
    .panna {
        background-image: url(../images/image-panna-cotta-desktop.jpg);
    }
}